.error-block {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
  border-radius: 5px;
}
.error-img {
  width: 60px;
  height: 60px;
  margin: 15px;
}

.error-text {
  margin: 15px;
  margin: 10px 20px;
  font-size: 20px;
  font-weight: 600;
  color: rgb(140, 13, 13);
}
