.not-found {
  width: 900px;
  padding: 30px;
  margin: 120px auto;

  display: flex;
  align-items: center;
  justify-content: center;
}

.not-found h1 {
  font-size: 30px;
  color: white;
}

.not-found span {
  font-size: 32px;
  color: red;
}
