.app {
  background-color: black !important;
  background: url("../img/body-background.jpg") center center no-repeat;
  background-size: cover;
  font-size: 16px;
  height: 100%;
  min-height: 150vh;
}
