@keyframes ldio-2eq2kcax5v2 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.ldio-2eq2kcax5v2 div {
  left: 99px;
  top: 30px;
  position: absolute;
  animation: ldio-2eq2kcax5v2 linear 1s infinite;
  background: #020d1d;
  width: 2px;
  height: 24px;
  border-radius: 1px / 12px;
  transform-origin: 1px 70px;
}
.ldio-2eq2kcax5v2 div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -0.984375s;
  background: #020d1d;
}
.ldio-2eq2kcax5v2 div:nth-child(2) {
  transform: rotate(5.625deg);
  animation-delay: -0.96875s;
  background: #020d1d;
}
.ldio-2eq2kcax5v2 div:nth-child(3) {
  transform: rotate(11.25deg);
  animation-delay: -0.953125s;
  background: #020d1d;
}
.ldio-2eq2kcax5v2 div:nth-child(4) {
  transform: rotate(16.875deg);
  animation-delay: -0.9375s;
  background: #020d1d;
}
.ldio-2eq2kcax5v2 div:nth-child(5) {
  transform: rotate(22.5deg);
  animation-delay: -0.921875s;
  background: #020d1d;
}
.ldio-2eq2kcax5v2 div:nth-child(6) {
  transform: rotate(28.125deg);
  animation-delay: -0.90625s;
  background: #020d1d;
}
.ldio-2eq2kcax5v2 div:nth-child(7) {
  transform: rotate(33.75deg);
  animation-delay: -0.890625s;
  background: #020d1d;
}
.ldio-2eq2kcax5v2 div:nth-child(8) {
  transform: rotate(39.375deg);
  animation-delay: -0.875s;
  background: #020d1d;
}
.ldio-2eq2kcax5v2 div:nth-child(9) {
  transform: rotate(45deg);
  animation-delay: -0.859375s;
  background: #020d1d;
}
.ldio-2eq2kcax5v2 div:nth-child(10) {
  transform: rotate(50.625deg);
  animation-delay: -0.84375s;
  background: #020d1d;
}
.ldio-2eq2kcax5v2 div:nth-child(11) {
  transform: rotate(56.25deg);
  animation-delay: -0.828125s;
  background: #020d1d;
}
.ldio-2eq2kcax5v2 div:nth-child(12) {
  transform: rotate(61.875deg);
  animation-delay: -0.8125s;
  background: #020d1d;
}
.ldio-2eq2kcax5v2 div:nth-child(13) {
  transform: rotate(67.5deg);
  animation-delay: -0.796875s;
  background: #020d1d;
}
.ldio-2eq2kcax5v2 div:nth-child(14) {
  transform: rotate(73.125deg);
  animation-delay: -0.78125s;
  background: #020d1d;
}
.ldio-2eq2kcax5v2 div:nth-child(15) {
  transform: rotate(78.75deg);
  animation-delay: -0.765625s;
  background: #020d1d;
}
.ldio-2eq2kcax5v2 div:nth-child(16) {
  transform: rotate(84.375deg);
  animation-delay: -0.75s;
  background: #020d1d;
}
.ldio-2eq2kcax5v2 div:nth-child(17) {
  transform: rotate(90deg);
  animation-delay: -0.734375s;
  background: #020d1d;
}
.ldio-2eq2kcax5v2 div:nth-child(18) {
  transform: rotate(95.625deg);
  animation-delay: -0.71875s;
  background: #020d1d;
}
.ldio-2eq2kcax5v2 div:nth-child(19) {
  transform: rotate(101.25deg);
  animation-delay: -0.703125s;
  background: #020d1d;
}
.ldio-2eq2kcax5v2 div:nth-child(20) {
  transform: rotate(106.875deg);
  animation-delay: -0.6875s;
  background: #020d1d;
}
.ldio-2eq2kcax5v2 div:nth-child(21) {
  transform: rotate(112.5deg);
  animation-delay: -0.671875s;
  background: #020d1d;
}
.ldio-2eq2kcax5v2 div:nth-child(22) {
  transform: rotate(118.125deg);
  animation-delay: -0.65625s;
  background: #020d1d;
}
.ldio-2eq2kcax5v2 div:nth-child(23) {
  transform: rotate(123.75deg);
  animation-delay: -0.640625s;
  background: #020d1d;
}
.ldio-2eq2kcax5v2 div:nth-child(24) {
  transform: rotate(129.375deg);
  animation-delay: -0.625s;
  background: #020d1d;
}
.ldio-2eq2kcax5v2 div:nth-child(25) {
  transform: rotate(135deg);
  animation-delay: -0.609375s;
  background: #020d1d;
}
.ldio-2eq2kcax5v2 div:nth-child(26) {
  transform: rotate(140.625deg);
  animation-delay: -0.59375s;
  background: #020d1d;
}
.ldio-2eq2kcax5v2 div:nth-child(27) {
  transform: rotate(146.25deg);
  animation-delay: -0.578125s;
  background: #020d1d;
}
.ldio-2eq2kcax5v2 div:nth-child(28) {
  transform: rotate(151.875deg);
  animation-delay: -0.5625s;
  background: #020d1d;
}
.ldio-2eq2kcax5v2 div:nth-child(29) {
  transform: rotate(157.5deg);
  animation-delay: -0.546875s;
  background: #020d1d;
}
.ldio-2eq2kcax5v2 div:nth-child(30) {
  transform: rotate(163.125deg);
  animation-delay: -0.53125s;
  background: #020d1d;
}
.ldio-2eq2kcax5v2 div:nth-child(31) {
  transform: rotate(168.75deg);
  animation-delay: -0.515625s;
  background: #020d1d;
}
.ldio-2eq2kcax5v2 div:nth-child(32) {
  transform: rotate(174.375deg);
  animation-delay: -0.5s;
  background: #020d1d;
}
.ldio-2eq2kcax5v2 div:nth-child(33) {
  transform: rotate(180deg);
  animation-delay: -0.484375s;
  background: #020d1d;
}
.ldio-2eq2kcax5v2 div:nth-child(34) {
  transform: rotate(185.625deg);
  animation-delay: -0.46875s;
  background: #020d1d;
}
.ldio-2eq2kcax5v2 div:nth-child(35) {
  transform: rotate(191.25deg);
  animation-delay: -0.453125s;
  background: #020d1d;
}
.ldio-2eq2kcax5v2 div:nth-child(36) {
  transform: rotate(196.875deg);
  animation-delay: -0.4375s;
  background: #020d1d;
}
.ldio-2eq2kcax5v2 div:nth-child(37) {
  transform: rotate(202.5deg);
  animation-delay: -0.421875s;
  background: #020d1d;
}
.ldio-2eq2kcax5v2 div:nth-child(38) {
  transform: rotate(208.125deg);
  animation-delay: -0.40625s;
  background: #020d1d;
}
.ldio-2eq2kcax5v2 div:nth-child(39) {
  transform: rotate(213.75deg);
  animation-delay: -0.390625s;
  background: #020d1d;
}
.ldio-2eq2kcax5v2 div:nth-child(40) {
  transform: rotate(219.375deg);
  animation-delay: -0.375s;
  background: #020d1d;
}
.ldio-2eq2kcax5v2 div:nth-child(41) {
  transform: rotate(225deg);
  animation-delay: -0.359375s;
  background: #020d1d;
}
.ldio-2eq2kcax5v2 div:nth-child(42) {
  transform: rotate(230.625deg);
  animation-delay: -0.34375s;
  background: #020d1d;
}
.ldio-2eq2kcax5v2 div:nth-child(43) {
  transform: rotate(236.25deg);
  animation-delay: -0.328125s;
  background: #020d1d;
}
.ldio-2eq2kcax5v2 div:nth-child(44) {
  transform: rotate(241.875deg);
  animation-delay: -0.3125s;
  background: #020d1d;
}
.ldio-2eq2kcax5v2 div:nth-child(45) {
  transform: rotate(247.5deg);
  animation-delay: -0.296875s;
  background: #020d1d;
}
.ldio-2eq2kcax5v2 div:nth-child(46) {
  transform: rotate(253.125deg);
  animation-delay: -0.28125s;
  background: #020d1d;
}
.ldio-2eq2kcax5v2 div:nth-child(47) {
  transform: rotate(258.75deg);
  animation-delay: -0.265625s;
  background: #020d1d;
}
.ldio-2eq2kcax5v2 div:nth-child(48) {
  transform: rotate(264.375deg);
  animation-delay: -0.25s;
  background: #020d1d;
}
.ldio-2eq2kcax5v2 div:nth-child(49) {
  transform: rotate(270deg);
  animation-delay: -0.234375s;
  background: #020d1d;
}
.ldio-2eq2kcax5v2 div:nth-child(50) {
  transform: rotate(275.625deg);
  animation-delay: -0.21875s;
  background: #020d1d;
}
.ldio-2eq2kcax5v2 div:nth-child(51) {
  transform: rotate(281.25deg);
  animation-delay: -0.203125s;
  background: #020d1d;
}
.ldio-2eq2kcax5v2 div:nth-child(52) {
  transform: rotate(286.875deg);
  animation-delay: -0.1875s;
  background: #020d1d;
}
.ldio-2eq2kcax5v2 div:nth-child(53) {
  transform: rotate(292.5deg);
  animation-delay: -0.171875s;
  background: #020d1d;
}
.ldio-2eq2kcax5v2 div:nth-child(54) {
  transform: rotate(298.125deg);
  animation-delay: -0.15625s;
  background: #020d1d;
}
.ldio-2eq2kcax5v2 div:nth-child(55) {
  transform: rotate(303.75deg);
  animation-delay: -0.140625s;
  background: #020d1d;
}
.ldio-2eq2kcax5v2 div:nth-child(56) {
  transform: rotate(309.375deg);
  animation-delay: -0.125s;
  background: #020d1d;
}
.ldio-2eq2kcax5v2 div:nth-child(57) {
  transform: rotate(315deg);
  animation-delay: -0.109375s;
  background: #020d1d;
}
.ldio-2eq2kcax5v2 div:nth-child(58) {
  transform: rotate(320.625deg);
  animation-delay: -0.09375s;
  background: #020d1d;
}
.ldio-2eq2kcax5v2 div:nth-child(59) {
  transform: rotate(326.25deg);
  animation-delay: -0.078125s;
  background: #020d1d;
}
.ldio-2eq2kcax5v2 div:nth-child(60) {
  transform: rotate(331.875deg);
  animation-delay: -0.0625s;
  background: #020d1d;
}
.ldio-2eq2kcax5v2 div:nth-child(61) {
  transform: rotate(337.5deg);
  animation-delay: -0.046875s;
  background: #020d1d;
}
.ldio-2eq2kcax5v2 div:nth-child(62) {
  transform: rotate(343.125deg);
  animation-delay: -0.03125s;
  background: #020d1d;
}
.ldio-2eq2kcax5v2 div:nth-child(63) {
  transform: rotate(348.75deg);
  animation-delay: -0.015625s;
  background: #020d1d;
}
.ldio-2eq2kcax5v2 div:nth-child(64) {
  transform: rotate(354.375deg);
  animation-delay: 0s;
  background: #020d1d;
}
.loadingio-spinner-spinner-ljbldl98k9k {
  width: 200px;
  height: 200px;
  display: block;
  overflow: hidden;
  margin: 0 auto;
}
.ldio-2eq2kcax5v2 {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-2eq2kcax5v2 div {
  box-sizing: content-box;
}
/* generated by https://loading.io/ */
