.random-block {
  background-color: #fff;
  padding: 10px 50px;
  margin-bottom: 40px;
  min-width: 600px;
}
.random-block h4 {
  margin-bottom: 20px;
  text-align: center;
}
.term {
  font-weight: bold;
}
